# SPDX-FileCopyrightText: © 2022 The Lingua Franca Coordination Language.
# SPDX-License-Identifier: BSD-2-Clause
#
# Modifications Copyright © 2024 Xronos Inc.
# SPDX-License-Identifier: BSD-3-Clause
#
# This file contains portions from the Lingua Franca Coordination Language
# under BSD-2-Clause and modifications Xronos Inc. under BSD-3-Clause.

opencv-python
pandas
tqdm
seaborn
requests
ipywidgets
ipython
ipykernel
matplotlib
numpy
Pillow>=7.1.2
PyYAML>=5.3.1
scipy>=1.4.1
ultralytics

# Logging -------------------------------------
tensorboard>=2.4.1
# wandb
thop  # FLOPs computation
